In [15]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
pd.reset_option('display.max_rows')
# pd.set_option('display.max_rows', None)

In [20]:
def predstr_to_class(class_string):
    class_string = class_string.split(" ")
    classes = []
    for x in class_string:
        if len(x) > 0 and x[0] == "n":
            classes.append(x)
    classes = list(set(classes))
    if len(classes) == 1:
        return classes[0]
    else:
        return np.nan
    

def synsetmapping_to_name(synset_str):
    class_string = class_string.split(",")
    classes = []
    for x in class_string:
        if len(x) > 0 and x[0] == "n":
            classes.append(x)
    classes = list(set(classes))
    if len(classes) == 1:
        return classes[0]
    else:
        return np.nan

In [9]:
imagenet_path = Path("/Users/adrielsaporta/Documents/NYU/symile_data/imagenet/imagenet-object-localization-challenge")

In [36]:
df = pd.read_csv(imagenet_path / "LOC_train_solution.csv")

In [48]:
synset_mapping = pd.read_csv(imagenet_path / "LOC_synset_mapping.txt", sep="\t", names=["synset"])

In [50]:
synset_mapping["class"] = synset_mapping.synset.apply(lambda x: x.split(" ")[0])

In [52]:
synset_str = synset_mapping.iloc[0].synset
synset_str

'n01440764 tench, Tinca tinca'

In [32]:
df["class"] = df["PredictionString"].apply(lambda x: predstr_to_class(x))
df = df.rename(columns={"ImageId": "img_id"}).\
        drop(columns=["PredictionString"])

In [33]:
df

                img_id      class
0       n02017213_7894  n02017213
1       n02017213_7261  n02017213
2       n02017213_5636  n02017213
3       n02017213_6132  n02017213
4       n02017213_7659  n02017213
...                ...        ...
544541  n02099849_7688  n02099849
544542  n02099849_2401  n02099849
544543  n02099849_3261  n02099849
544544  n02099849_2300  n02099849
544545  n02099849_4606  n02099849

[544546 rows x 2 columns]